<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./main.css">
   <title>Password</title>
</head>

<body>
   <section class="container-credentials">
      <h1>Cambio de Password y/o Firma Electronica de Usuario</h1>
      <form class="form-credentials " action="">
         <table class="credentials-table">
            <tbody>
               <tr>
                  <td class="table-user">Usuario</td>
                  <td>
                     <input class=" table-input" type="id" placeholder="6077001">
                  </td>
               </tr>
            </tbody>
         </table>
         <span>Actualizacion de su Password (Firma Electronica)</span>
         <div class="credentials-checkbox">
            <div class="checkbox-input">
               <input type="checkbox">
               <span>Password</span>
            </div>
            <div class="checkbox-input">
               <input type="checkbox">
               <span>Frima Electronica</span>
            </div>
         </div>
         <div class="credentials-input">
            <!--           <label class="input-title" for="">Ingrse su anterior Password (Firma Electronica)</label>
            <input class="input-type" type="text" placeholder="password" /> -->
            <table class="credentials-table">
               <tbody>
                  <tr>
                     <td>Ingrse su anterior Password (Firma Electronica</td>
                     <td>
                        <input class=" table-input" type="password" placeholder="password">
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="credentials-button">
            <button class="btn-check">Aceptar</button>
            <button class="btn-check">Cancelar</button>
         </div>
      </form>
   </section>
</body>

</html>